<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    
</head>

<body>
    {{>header}}
    <h4>welcome {{ name }}</h4>
    <form>
        <input type="text" name="aname" placeholder="enter an address">
        <button>search</button>
    </form>
    <p id="location-message">hh</p>
    <p id="forecast-message"></p>

    {{>footer}}
    {{!-- script should be excuted after form is submited --}}
    <script src="/js/app.js"></script> 
</body>

</html>